@page
@model AuctionSystem.Pages.Users.IndexModel
@using AuctionSystem.Models

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<p>
    <a href="/Users/Create" class="btn btn-primary">Create New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a href="/Users/Edit/@user.Id" class="btn btn-warning">Edit</a>
                <a href="/Users/Delete/@user.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
