@page
@model AuctionSystem.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Auction System!</h1>
    <p>Welcome to the Auction System!</p>
    <a href="/Users" class="btn btn-primary">Manage Users</a>
    <a href="/Payments" class="btn btn-primary">Manage Payments</a>
</div>
